<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="layout-reverse">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <label for="sidebar-checkbox" class="sidebar-toggle"></label>

          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
               (adsbygoogle = window.adsbygoogle || []).push({
                    google_ad_client: "ca-pub-4228490019228264",
                    enable_page_level_ads: true
               });
        </script>

        </br>

        {{ content }}

        </br>
        
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
               (adsbygoogle = window.adsbygoogle || []).push({
                    google_ad_client: "ca-pub-4228490019228264",
                    enable_page_level_ads: true
               });
        </script>
      </div>
    </div>

  </body>
</html>
